.App {
  text-align: center;
  /* background-color: rgb(255 255 255 / 15%) */
}

:root{
  --darkcolor:#248277;
  --lightcolor:#469d89;
  /* background-color: rgb(255 255 255 / 15%) */
}

.btnColor{
  background-color: var(--lightcolor);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.btnColor:active{
  background-color: var(--darkcolor);
}
/* .btnColor:hover{
  background-color: var(--darkcolor);
} */

.heading{
  color: var(--darkcolor);
  text-shadow:1px 2px 2px var(--lightcolor);
}

.chatScree{
  height: 300px;
}