
.card-add{
    width: 95%;
    height: 160px;
    text-align: center;
    padding: 4px;
    margin-bottom:2px;
    display: inline-block;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.img-add{
    width: 100px;
    height: 100px;
}

.img-add:hover{
    opacity: 0.5;
}

.title-add{
    padding: 4px;
    width: 80px;
}

.action-add{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.price-add{
    font-weight: bold;
    color: tomato;
}

.quantity{
    display: flex;
    flex-direction: column;
    align-items: center;
}