
.weatherApp{

    margin:40px auto;
    border:1px solid rgb(116, 192, 218);
    background-color: lightblue;
    color: white;
    padding: 10px;
    width:40%;
    height: 500px;
    border-radius: 10px;
}