.time_bar{
    background-color: yellowgreen;
    height: 20px;
    border: 1px solid yellow;
    border-radius: 10px;
    /* width:25%; */
}
.main_div{
    border: 1px solid lightgrey;
    text-align: center;
    margin: 20px auto;
    width: 60%;
    height:500px;
   background-color: rgb(240, 237, 232);
}